<div class='filter'>
  <mat-form-field>
    <mat-label>Sort</mat-label>
    <mat-select panelClass='sort-select' [(ngModel)]='sort'>

      <mat-option value='name'></mat-option>
      <mat-option value='-released'></mat-option>
      <mat-option value='-added'></mat-option>
      <mat-option value='-created'></mat-option>
      <mat-option value='-updated'></mat-option>
      <mat-option value='-rating'></mat-option>
      <mat-option value='metacritic'></mat-option>
    </mat-select>
  </mat-form-field>
</div>
